/* SuccessPopup.css */
.blur-background {
    filter: blur(4px);
  }
  
  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
  
  .animate-fade {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fixedd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  button:hover {
    transition: background-color 0.3s ease-in-out;
  }
  